<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Authentication</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="admin.css") }}'>
</head>
<body>
    <div class="menu">
            <ul>
                <li class="w3-bar-item w3-button"> Home </li>
                <li class="w3-bar-item w3-button"> Add Skills </li>
                <!-- <li class="w3-bar-item w3-button"> Help </li> -->
                <li class="w3-bar-item w3-button"><a href="/help">Help</a></li>
            </ul>
    </div>
    <br></br>
    <div>
    </div>
    <div class = "admin_head">
        <p>Welcome to Skillset Management System</p>
        <p>Please Login before Using |(￣3￣)|</p>
    </div>
    <form action='/admin' method='POST'>
        <div class='row'>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
        </div>
        <div class='row'>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </div>
        {% if incorrect %}
        <p>Incorrect Password!</p>
        {% endif %}
        <div class='row'>
            <input type="submit" id='submit' name="login"/>
        </div>
    </form>

    <center>
    <div class = "register">
    <p> Do not have an account? </p>
    <a href="/register"> Register </a>
    <p>Made by yitong© 2022</p>
    </div>
    </center>
    
</body>
</html>