<!DOCTYPE html>

<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/static/venues.css" />
</head>
<body>
    <a name="top"></a>
    <div class="menu">
        <ul>
            <li class="w3-bar-item w3-button"><a href="/homepage"> Home </a></li>
            <li class="w3-bar-item w3-button"><a href="/venue">Add Venue</a></li>
            <li class="w3-bar-item w3-button"><a href="/help">Help</a></li>
        </ul>
    </div>
    <br></br>
    
    <div class = "help_head">
        <a>Welcome to Registry Management Tool</a>
    </div>
    <div class = "help_detail">
        <p>what you can do in the registry management:</p>
        <ul>
            <li>add a new skill record</li>
            <li>update your registry</li>
            <li>delete a registry</li>
            <li>get help by clicking on help</li>
            <p>Made by yitong© 2022</p>
        </ul>
    </div>

</body>
</html>